* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #fc5193;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1%;
  align-items: center;
}

nav img {
  width: 25px;
  height: auto;
  margin: 5px;
}

nav h1 {
  margin-left: 30%;
  font-size: 22px;
}

.navBar,
li,
a {
  color: #fefefe;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin-left: 5%;
  font-size: 40px;
  justify-content: center;
}

.cont {
  margin: 5%;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #fc5193;
  padding: 10px 0 10px 0;
}

.item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  display: grid;

  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  font-size: 18px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

form {
  margin-top: 30px;
}

.detail {
  display: grid;
  justify-items: center;
  align-content: space-around;
  background-color: #b138f7;
  margin-top: 20px;
  font-size: 12px;
}

.detail img {
  margin: 20px;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#customers tr:nth-child(even) { background-color: #b138f7; }

#customers tr:hover { background-color: #ddd; }

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #454446;
  color: white;
}

.select {
  display: flex;
  flex-direction: column;
  border-style: initial;
  align-items: center;
  justify-content: space-around;
}

.btn {
  display: flex;
}

.btn button {
  color: antiquewhite;
  width: 60px;
  height: auto;
  font-size: 12px;
  margin: 5px;
  background-color: #6500c9;
}

.btn button :hover {
  background-color: #953af0;
}
